/assets/
/.vscode/
/build/
/mcp
/examples/web/generated/
examples/web_wasm/qwen3_web_wasm.js
examples/web_wasm/qwen3_web_wasm.wasm
/refer/
/.trae/
/R-C.jpg
/test_ocr.png

/laya_hf/
/laya_multilingual_hf/

/tools/*.exe
/tools/*.bin
__pycache__/
*.pyc

/build_cmake/
/dist/
/.xmake/
